.img-logo{
    height: 250px;
    width: 250px;
    transition: transform 0.8s;
}

.img-logo:hover{
    transform: scale(1.1);
}

.position{
    position: relative;
    bottom: 80px;
}

.swiper{
    overflow: hidden;
}

.swiper-wrapper{
    height: 400px;
    text-align: center;
}
.img-swiper{
    position: relative;
left: 30%;
}
.swiper-slider{
    text-align: center;
}